[submodule ".emacs.d/startproject"]
	path = .emacs.d/startproject
	url = http://github.com/jdodds/startproject.git
[submodule ".emacs.d/zencoding"]
	path = .emacs.d/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule ".emacs.d/rhtml"]
	path = .emacs.d/rhtml
	url = https://github.com/eschulte/rhtml
[submodule ".emacs.d/monky"]
	path = .emacs.d/monky
	url = git://github.com/ananthakumaran/monky.git
