[submodule ".emacs.d/eproject"]
	path = .emacs.d/eproject
	url = https://github.com/jrockway/eproject.git
[submodule ".emacs.d/startproject"]
	path = .emacs.d/startproject
	url = http://github.com/jdodds/startproject.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "djcb-elisp"]
	path = djcb-elisp
	url = https://github.com/djcb/elisp.git
[submodule ".emacs.d/zencoding"]
	path = .emacs.d/zencoding
	url = https://github.com/rooney/zencoding.git
