.emacs.d/nxhtml/related/rhino.js
.emacs.d/geben/.storage
.emacs.d/geben/*/home/*
.emacs.d/auto-save-list/
.emacs.d/nxhtml/etc/schema/xhtml-loader.rnc
.emacs.d/tramp
.emacs.d/share/
.emacs.d/elpa/archives/*/archive-contents
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/.org-id-locations
.emacs.d/org-clock-save.el
.emacs.d/url/cookies
.emacs.d/url/cache
.authinfo
.gnus.el
.#*
*/.bzr*
*elc
*~
install.log
.emacs.d/session*
.emacs.d/eproject.lst
.emacs.d/bookmarks
.emacs.d/elpa/*
.emacs.d/lisp/sensitive.el
.emacs.d/rcirc-log
